body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ------------------------------------
home-page-main-section styles start
-------------------------------------- */
#main-home-page{
    background-color: #2D25A0;
      
}

.home-page{
    display: flex;
    height: 660px;
    align-items: center;
    margin-left: 156px;
    margin-right: 140px;
    margin-bottom: 50px;
   
}
.home-left{
    width: 48%;
    padding-right: 2%;
}
.home-left h1{
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-top: 00px;
}
.home-left button, .button-btn{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
      
}
.home-btn:hover{
    color: rgb(255, 255, 255);
    background: #ad144d;
    /* border-radius: 20px; */
    transition: 0.5s ease-in-out;
}
.home-btn i{
padding-left: 15px;
}
.home-right{
    width: 45%;
    padding-left: 5%;
}
.home-right img{
    width: 556px;
    
}
/* ------------------------------------
home-page-main-section styles end
-------------------------------------- */


/*--------------------------
 players list styles start
----------------------------*/

#player-page{
    flex-direction: column;
    align-items: center;
}
.players{
    margin-left: 125px;
    margin-right: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    align-items: center;
    text-align: justify;
 
       
}


.player{
    height: 474px;
    width: 330px;
    box-shadow: 3px 3px 3px 3px #dfdede;
    padding: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
    
       
}

.player-banner img{
    width: 100%;
    height: 256px;
    border-radius: 5px;
    
}
.player-info h2{
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    line-height: 30px;
     
}
.player-info p{
    font-size: 16px;
    line-height: 26px;
    color:#6C6C6C;
}

/*--------------------------
 players list styles end
----------------------------*/
/* ------------------
  copa-2021 match 
--------------------*/
#copa-2021{
    margin-top: 60px;
    margin-bottom: 100px;
}
.copa-america{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.copa-america-history{
    width: 42%;
    padding-right: 8%;

}
.copa-america-history h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom:0;
    margin-top: 20px;
}
.copa-america-history p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400px;
    padding-right:100px ;
}

/* -----------------
copa-2021 match end
--------------------- */


/*----------------------------------------
 sports website footer styles start       
 ----------------------------------------  */
.sports-info{
    margin-left: 475px;
    margin-right: 482px;
    margin-bottom: 64px;
    padding-bottom: 50px;
  
    
    
}
.sports-logo{
    display: flex;
    flex-direction: column;
    height: 213px;
    justify-content: flex-end;
    align-items: center;
}
 .sports-logo img{
    width: 484px;
   

 }
 .sports-icoc{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 32px;
     padding: 10px;   
 }

 .sports-icoc i{
   padding:10px; 
   margin: 7px;
   font-size: 16px;
   color:#969BAB;
   background-color:#aeb2c03d;
   border-radius: 100%;
   
}

 .sports-info p{
     text-align: center;
     margin-bottom: 50px;
     
 }

 /*----------------------------------------
 sports website footer styles end     
 ----------------------------------------  */

/*----------------------
    tableat devices 
-------------------------*/
@media (max-width:768px) {

    .home-page{
        display: flex;
        height: 276px;
        align-items: center;
        margin-left: 46px;
        margin-right: 230px;
        margin-bottom: 25px;
    }
      .home-right img{
          margin-left: 15px;
          width: 300px;
          
      }
      .home-left h1{
          margin-left: 0;
          font-size: 25px;
      }
      .home-left button {  
        width: 112px;
        height: 35px;
        font-size: 12px;

    }
   
      .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        margin-left: 20px;
        margin-right: 0;
        grid-gap: 10px;
        position: relative;
      }
      .player{
          height: ;
          width: 70%;
          padding: 20px;
          margin-left: 30px;
         
      }
      .sports-info{
        margin-left: 0; 
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;

      }
      
  }
  /* mobail device */

  @media (max-width:360px) {
    #main-home-page{
        background-color: #2d25a0;
        padding-left: 15px;
        padding-right:15px; 
        margin: 0px;
        width: 100%;
        
    }
    .home-page{
        display: flex;
        flex-direction: column;
        padding: 0px;
        height: 100%;
        margin: 0px;
        align-items:flex-start ;
        height: 700px;
       
    }
    .home-left{
        width:80%;
        padding-right: 10%; 
        margin-top: 100px;
        
    }
    .home-left h1{
        margin: 0px;
        font-size: 36px;
        word-wrap: break-word;
    }
    .home-left .home-btn{
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .home-right{
        width:50%;
        padding: 0%;
        margin:0px; 
    }
    .home-right img{
        width: 330px;
        height: 300px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 15px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0;
        grid-gap: 10px;
        position: relative;
      }
      .player {
        width: 90%;
        padding: 15px;
        margin-left: 0;
    }
    .sports-info {
        margin-left: 0; 
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .sports-logo img{
        width: 300px;

    }

  }